
@import "tailwindcss";

/* Ocultar barra de desplazamiento globalmente */
*::-webkit-scrollbar {
  display: none; 
}

* {
  scrollbar-width: none; 
  -ms-overflow-style: none; 
}

@theme {
  --color-primary-red: #E40808;
  --color-secondary-white: #F9FAFB;
  --color-terciary: #1E2939;
}


.mySwiper .swiper-pagination {
  position: relative;
  bottom: 5px !important;
  margin-top: 20px;
}